<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生一覧</title>
  <style>
    ul {
      list-style: none;
    }
  </style>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>コース名</th>
    <th>受講開始日</th>
    <th>コース終了予定日</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetails : ${studentList}">
    <td th:text="${studentDetails.student.id}">1</td>
    <td th:text="${studentDetails.student.name}">山田太郎</td>
    <td th:text="${studentDetails.student.kana}">ヤマダタロウ</td>
    <td th:text="${studentDetails.student.nickname}">タロー</td>
    <td th:text="${studentDetails.student.email}">taro@icloud.com</td>
    <td th:text="${studentDetails.student.area}">東京</td>
    <td th:text="${studentDetails.student.age}">20</td>
    <td th:text="${studentDetails.student.gender}">男性</td>
    <td>
      <ul>
        <li th:each="course : ${studentDetails.studentCourses}">
          <span th:text="${course.courseName}">Java</span>
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li th:each="course : ${studentDetails.studentCourses}">
          <span th:text="${course.courseStartDate}"></span>
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li th:each="course : ${studentDetails.studentCourses}">
          <span th:text="${course.expectedEndDateOfTheCourse}"></span>
        </li>
      </ul>
    </td>
    <td th:text="${studentDetails.student.remark}">特になし</td>
  </tr>
  </tbody>
</table>
</body>
</html>

